:root {
  --bg-color: #f0f0f0;
  --primary-font: 'Athiti', sans-serif;
  --democratic-color: #2AA1EC; 
  --republican-color: #FE6A59;
  --line-color: darkslategray;
}

body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
}

.Container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.Column-left {
  display: flex;
  height: 100vh;
  width: 225px;
  flex-shrink: 0;
  background-color: #CED1D7;
  box-shadow: 0 0 10px rgba(0,0,0,.4)
}

.Column-right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100vh;
}